* {
  box-sizing: border-box;
}

body{
  color: #878787;
  margin: 0px;
  font-size: 1em;
  font-family: helvetica, arial, sans-serif;
  line-height: 1.5;
}
.main-header {
  background-color: #ffc949;
  padding-top: 170px;
  height: 850px;
}

.title {
  color: white;
  font-size: 1.625rem;
}


h1 {
  font-size: 5.625rem;
  color: rgba(255, 255, 255, 1);
  text-transform: capitalize;
  font-weight: normal;
  line-height: 1.3;

}

h2 {
  font-size: 3.3125em;
  text-decoration: underline;
  font-weight: normal;
  margin-bottom: .5em; /*26px*/
}

h3 {
  font-size: 1.25em;
  color: #48525c;
  margin-bottom: 1.7em; /*34px*/
}
img {
  max-width: 100%;
  margin-bottom: 20px;
}


/* Psuedo Classes-------------------*/
a:link {
  color: rgb(255, 169, 73);
  text-decoration: none;
}

a:visited {
  color: lightblue;
}

a:hover {
  color: rgba(255, 169, 73, .4);
}

a:active {
  color: lightcoral;
}


.primary-content,
.main-header,
.main-footer {
  text-align: center;
}

.t-border {
  border-top: 2px solid lightgrey;

}

.callout {
  font-size: 1.25em;
  border-bottom: 3px solid;
  padding: 0 9px 3px;
  margin-top: 20px;
  display: inline-block;
}

#main-footer {
  padding-top: 60px;
  padding-bottom: 60px;
  border-bottom: solid 10px #ffc949;
}


/* Layout Styles ------------------ */

.primary-content,
.secondary-content {
  width: 75%;
  padding-left: 50px;
  padding-right: 50px;
  margin: auto;
  max-width: 900px;
}

.wildlife {
  color: white;
  background-color: #434a52;
  padding: 18% 24%;
  border: 10px solid #ffa949;
  margin: 105px 0 60px 0;
}

.arrow {
  width: 50px;
}
